@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Apply background styling to the body */
  background: linear-gradient(to bottom, rgb(23, 7, 54), black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}