<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
</head>

<body>
    <div class="flex  flex-col items-center justify-center text-white">
        <h1 class="text-white font-bold text-3xl  mt-20">Edit Todo</h1>
        <form class="flex flex-col gap-5 mt-10" action="/edit/<%= todo.id %>?_method=PUT" method="post">
            <input class="bg-slate-900 w-[500px] h-[100px] rounded-3xl px-4 py-2 placeholder:font-bold" type="text"
                name="todo" value="<%= todo.text %>">
            <button class="w-full bg-purple-700 hover:bg-purple-900 h-[60px] rounded-2xl font-bold"
                type="submit">Save</button>
        </form>

    </div>
</body>

</html>